@use './variables' as var;
@use './mixins' as mixins;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var.$font-family-base;
    background-color: #eff1f5;
}

ul,li{
    list-style: none;
}