.flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start() {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center-start() {
    display: flex;
    justify-content: center;
    align-items: start;
}

.flex-start-start() {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start-end() {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.flex-start-center() {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center() {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-start-stretch() {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.flex-between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap() {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fix() {
    position: fixed;
    right: 0;
    z-index: @zIndex-second;
}

.position-ab-tl() {
    position: absolute;
    top: 0;
    left: 0;
}

.position-ab-tr() {
    position: absolute;
    top: 0;
    right: 0;
}

.percent-wh() {
    width: 100%;
    height: 100%;
}

.background-image(@url) {
    background: url(@url) no-repeat center center;
    background-size: cover;
}

//active
.btn-active() {
    border: @border-solid-blue;
    color: @border-color-blue;
}

.btn-disabled() {
    cursor: not-allowed;
    background-color: @border-color-gray;
    color: @font-color-gray;

    &:hover {
        border-color: @border-color-gray;
        color: @font-color-gray;
    }
}

//tag
.tag() {
    font-size: 14px;
    background-color: @background-color-tag;
    color: @font-color-tag;
    padding: @padding-text-box;
}

//用户评价/商品信息/推荐 标题条
.top() {
    .flex-between();
    margin-bottom: @margin-bottom-sm;
    padding-top: @padding-lg;
    font-size: @font-size-xxl;
}

//字体隐藏
.font-ellipse() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}