.flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start(){
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-start-start(){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-between(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap(){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fix(){
    position: fixed;
    right: 0;
    z-index: @zIndex-second;
}
.position-ab-tl(){
    position: absolute;
    top: 0;
    left: 0;
}
.position-ab-tr(){
    position: absolute;
    top: 0;
    right: 0;
}
.percent-wh(){
    width: 100%;
    height: 100%;
}
.background-image(@url){
    background: url(@url) no-repeat center center;
    background-size: cover;
}