$font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', helvetica, arial, sans-serif;

// zindex
$zIndex-max: 1000;
$zIndex-second: 999;

    // 背景色
$background-color-basic: #ffffff;
$background-color-tag: #fff4e8;
$background-opacity-white: rgba(255,255,255,0.5);

// 字体大小
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

// line-height
$line-height-base: 22px;// 基于fontsize 14px
// 字体颜色
$font-color-gray: #abacae;
$font-color-tag: #b5691a;
$font-color-blue: #4096ff;

// 阴影
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 5%);

// border
$border-sm: 1px solid rgb(5 5 5 / 6%);
$border-color-gray: #d9d9d9;
$border-color-blue: #4096ff;
$border-dashed-gray: 1px dashed $border-color-gray;
$border-dashed-blue: 1px dashed $border-color-blue;
$border-solid-gray: 1px solid $border-color-gray;
$border-solid-blue: 1px solid $border-color-blue;

// 圆角
$border-radius-circle: 100%;
$border-radius-half: 50%;
$border-radius-basic: 8px;
$border-radius-sm: 3px;

// 高度
$height-h: 60px;
$height-min-window: calc(100vh - 130px);

// margin
$margin-sm: 10px;
$margin-md: 12px;
$margin-lg: 15px;
$margin-top-sm: 10px;
$margin-top-basic: 15px;
$margin-bottom-sm: 10px;
$margin-right-basic: 12px;
$margin-right-sm: 10px;

// padding
$padding-xs: 8px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 20px;
$padding-tb-md: 15px 0;
$padding-lr-md: 0 15px;
$padding-text-box: 4px 8px;
$padding-text-lgbox: 8px 12px;
$padding-bottom-md: 15px;

// 间距
$spacing-xs: 5px;
$spacing-sm: 8px;
$spacing-md: 10px;
$spacing-lg: 15px;
$spacing-xl: 20px;

// 图片大小
$img-width-md: 48px;
$img-height-md: 48px;

// transition
$transition-basic: 0.2s;