@font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
//zindex
@zIndex-max: 1000;
@zIndex-second: 999;
    //背景色
@background-color-basic: #fff;

//字体大小
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;
//字体颜色
@font-color-gray: #abacae;
//阴影
@shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
//border
@border-sm: 1px solid rgba(5,5,5,0.06);
@boder-color-gray: #d9d9d9;
@border-color-blue: #4096ff;
//圆角
@border-radius-circle: 100%;
@border-radius-half: 50%;
@border-radius-basic: 8px;
//高度
@height-h: 60px;
@height-min-window: calc(100vh - 130px);
//margin
@margin-md: 12px;
@margin-lg: 15px;
//padding
@padding-xs: 8px;
@padding-sm: 10px;
@padding-md: 15px;
@padding-tb-md: 15px 0;
@padding-lr-md: 0 15px;
@padding-bottom-md: 15px;
//间距
@spacing-xs: 5px;
@spacing-sm: 8px;
@spacing-md: 10px;
@spacing-lg: 15px;
@spacing-xl: 20px;
//图片大小
@img-width-md: 48px;
@img-height-md: 48px;
//transition
@transition-basic: 0.2s;