@import '@styles/variables.less';
@import '@styles/mixins.less';

.header {
    .flex-start();
    border-bottom: @border-sm;
    height: @height-h;
}
.logo{
    margin: 0 60px 0 20px;
}
.menu {
    border-bottom: none;
    height: 100%;
    line-height: @height-h;
    flex-grow: 1;
}
