@import '@styles/variables.less';
@import '@styles/mixins.less';

.header {
    .flex-start();
    .fix();
    top: 0;
    border-bottom: @border-sm;
    height: @height-h;
    width: 100%;
    background-color: @background-color-basic;
    padding: @padding-lr-md;

    .logo {
        margin-right: 60px;
        white-space: nowrap;
        cursor: pointer;
        @media screen and (max-width: 450px) {
            margin-right: 10px;
        }
    }

    .menu {
        border-bottom: none;
        height: 100%;
        line-height: @height-h;
        flex-grow: 1;
    }
}