@import '@styles/variables.less';
@import '@styles/mixins.less';

.cardBody{
    width: 260px;
    height: 300px;
    @media screen and (max-width: 910px) {
        flex-grow: 1;
    }
}
:global {
    .ant-card .ant-card-body {
        padding: @padding-md;
    }

    .ant-card .ant-card-cover {
        border-radius: 8px;
        overflow: hidden;
    }

    .ant-card .ant-card-cover img {
        transition: @transition-basic;
    }

    .ant-card .ant-card-cover:hover img {
        transform: scale(1.05);
    }
}