@use '@/styles/variables' as var;
@use '@/styles/mixins' as mixins;

.login {
	@include mixins.size(100vw, 100vh);
	@include mixins.background-image('@/assets/img/bg/login-bg.png');
	@include mixins.flex(center, center);
	:global {
		.ant-card,
		.ant-input-outlined,
		.ant-input-outlined:focus-within,
		.ant-input-outlined:hover {
			background: var.$background-opacity-white;
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-internal-autofill-selected {
			background-color: transparent !important;
			-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
			transition: background-color 5000s ease-in-out 0s !important;
		}
	}
}
